Source: wb-homa-webinterface
Maintainer: Evgeny Boger <boger@contactless.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), pkg-config

Package: wb-homa-webinterface
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, mosquitto, mqtt-wss
Description: WB HomA web interface
